body {
    background-color: beige;
}

#imgsite {
    height: 20%;   
    width: 40%; 
    padding: 1px;
    margin: 5px;
    border: 3px solid;
    border-radius: 10px;
    margin-left: 100%;
    }

.principal {
    background: #CCCCCC;
    padding: 30px;
}

h1{
    text-align: center
}
p {
    text-align: center;    
}

#nasaulas {
    font-size: 20px;
}

strong {
    color: red;
}

.itens {
    font-size: italic;
}

.benefícios {
    background: white;
}

h3{
    text-align: center;
}

#foto2 {
    margin-right: 10%;
    width: 25%;
}
